* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  width: 100%;
  height:3rem;
  border-bottom: solid 2px black;
  background-color: #E1D9BC;
}
.project_info_widget{
  height: 3rem;
  border-bottom: solid 2px black;
  background-color: #E1D9BC;
}
.main_board{
  display: flex;
  min-height: calc(100vh - (3rem + 4px));
  border-bottom: solid 2px black;
  flex-direction: column;
  background-color: #c1baa2;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.buckets_board{
  margin-top: 20px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  gap: 20px;
  align-items: stretch;

}
.buckets:nth-child(1), .buckets:nth-child(2), .buckets:nth-child(3) {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - (3rem + 4px + 100px));
  overflow-y: auto;
  background-color: #E1D9BC;
  scroll-snap-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.buckets {
  flex: 1 1 30%;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: column;
  height: calc(100vh - 20px);
  overflow-y: auto;
  background-color: #E1D9BC;
  scroll-snap-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}