* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  width: 100%;
  height: 3rem;
  border-bottom: solid 1px black;
  background-color: #e1d9bc;
}
.project_info_widget {
  height: 3rem;
  border-bottom: solid 1px black;
  background-color: #e1d9bc;
}
.main_board {
  display: flex;
  min-height: calc(100vh - (3rem + 4px));
  border-bottom: solid 1px black;
  flex-direction: column;
  background-color: #c1baa2;
}
.bucket_header {
  height: 5%;
  display: flex;
  align-content: center;
  justify-items: center;
  margin-left: 5px;
  margin-top: 5px;
  gap: 3px;
}
.bucket_header span {
  text-align: center;
}
.buckets_board {
  margin-top: 10px;
  flex: 1;
  display: flex;
  padding: 0 5px;
  gap: 10px;
  overflow-x: scroll;
}

.buckets {
  min-width: 32.7%;
  flex: 1 1 33%;
  display: flex;
  overflow-y: scroll;
  max-height: 85vh;
  margin-bottom: 10px;
  flex-direction: column;
  overflow-y: auto;
  background-color: #e1d9bc;
  scroll-snap-align: center;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.tasks_dialog {
  background-color: #e1d9bc;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tasks_dialog form {
  display: flex;
  flex-direction: column;
}

.task {
  display: flex;
}

.task_header {
  width: 100%;
  scrollbar-width: thin; /* auto | thin | none */
  scrollbar-color: #c1c1c1 #f1f1f1; /* thumb track */
  padding: 5px;
  max-width: calc(100% - 10px);
  overflow-wrap: break-word;
  border-left: 1.4px solid black;
  margin-left: 6.4px;
  margin-top: 5px;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}
